include ../../../src/views/index



-
	let title



block variables



doctype html
html(lang="en" dir="ltr")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
		title= (title ? `${title} | ` : '') + 'Symbol'
		block styles
		block scripts-head

	body
		block body

		block scripts
